{% load static %}
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'login_style.css' %}">

    <body>
        <div id="main">
            <img src="https://cdn.clipart.email/e0538c3a15f0b0940682455074ba9c4c_italy-pizza-clipart_2000-1761.png" height = "105" width = "122"/>
            <h1>
                <center>
                    [[ title ]]
                </center>
            </h1>

            <div>
                <center>
                    <form action="{% url 'login' %}" method="post" v-on:submit='checkLoginFields'>
                        {% csrf_token %}
                        <input name="username" placeholder="username" type="text" v-on:input="setUsernameValidityMessage"/>
                        <input name="password" placeholder="password" type="password" v-on:input="setPasswordValidityMessage"/>
                        <input type="submit" value="Login"/>
                    </form>
                    <p> New User? Sign Up - <a href="signup">Here!</a></p>
                </center>
            </div>
        </div>
    </body>
</html>

<script type="text/typescript" src="{% static 'login.ts' %}"></script>
<script src="https://rawgit.com/Microsoft/TypeScript/master/lib/typescriptServices.js"></script>
<script src="https://rawgit.com/basarat/typescript-script/master/transpiler.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>