{% extends "menu.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'pasta.css' %}">

    <div class = "menu">
        <div class = "items">
            <h5 style = "display:flex; justify-content: center;">
                Pastas
            </h5>

            <div>
                <Text style = "color:red;">
                    <span style="float:left;">
                        Baked Ziti w/ Mozzarella
                    </span>
                    <span style="float:right;text-align:right;">
                        $6.50 <br>
                    </span>
                </Text>
            </div>

            <div class = "menu-item">
                <Text>
                    <br>
                    <span style="float:left;">
                        Baked Ziti w/Meatballs
                    </span>
                    <span style="float:right;text-align:right;">
                        $8.75
                    </span>
                </Text>
            </div>

            <div class = "menu-item">
                <Text> 
                    <br>
                    <span style="float:left;">
                        Baked Ziti w/Chicken
                    </span>
                    <span style="float:right;">
                        $8.25
                    </span>
                </Text>
            </div>
        </div>

        <div class = "picture"> 
            <div>
                <img id="#pasta" src="{% static 'pasta.jpeg' %}"/>
                <figcaption> Baked Ziti w/ Mozzarella </figcaption>
            </div>
        </div>
    </div>
{% endblock %}