{% extends "menu.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'salad.css' %}">
<div class = "menu">
    <div class = "items">
        <div>
            <Text class = "menu-item">
                <span style="float:left;">
                    Green Salad
                </span>
                <span style="float:right;text-align:right;">
                    $6.25
                </span>
            </Text>

            <Text class = "description">
                <br>A simple salad of tomatoes, cucumbers, onion, lettuce and house dressing
            </Text>
        </div>

        <div>
            <Text class = "menu-item">
                <span style="float:left;">
                    Greek Salad
                </span>
                <span style="float:right;text-align:right;">
                    $8.25
                </span>
            </Text>
            <Text class = "description">
                <br>Pinnocio's signature salad. 
                Made with tomatoes, sliced kalamata olives, cucumbers, onions, lettuce, feta cheese and a lemon dressing
            </Text>
        </div>

        <div>
            <Text class = "menu-item">
                <span style="float:left;">
                    Antipasto
                </span>
                <span style="float:right;">
                    $8.25
                </span>
            </Text>
            <Text class = "description">
                <br>Greens and Meat!
                Made with roasted red peppers, cherry tomatoes, feta, olives, artichoke hearts, prosciutto & salami. Drizzled with our house dressing
            </Text>
        </div>

        <div>
            <Text class = "menu-item">
                <span style="float:left;">
                    Tuna Salad
                </span>
                <span style="float:right;">
                    $8.25
                </span>
            </Text>
            <Text class = "description">
                <br>Our garden salad topped with Tuna
            </Text>
        </div>
    </div>

    <div class = "picture"> 
        <div>
            <img src="{% static 'salad.jpg' %}" width = 300px height = 370px/>
            <figcaption> Antipasto </figcaption>
        </div>
    </div>
</div>
{% endblock %}