{% extends "menu.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'subs.css' %}">
<div class = "menu">
    <div class = "items">
        <table>
            <thead>
                <tr>
                    <th> Sub </th>
                    <th> Small </th>
                    <th> Large </th>
                </tr>
            </thead>
            
            <tbody>
                <tr>
                    <td>Cheese</td>
                    <td>$6.50</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Italian</td>
                    <td>$6.50</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Ham + Cheese</td>
                    <td>$6.50</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Meatball</td>
                    <td>$6.50</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Tuna</td>
                    <td>$6.50</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Turkey</td>
                    <td>$7.50</td>
                    <td>$8.50</td>
                </tr>
                <tr>
                    <td>Chicken Parmigiana</td>
                    <td>$7.50</td>
                    <td>$8.50</td>
                </tr>
                <tr>
                    <td>Eggplant Parmigiana</td>
                    <td>$6.50</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Steak</td>
                    <td>$6.50</td>
                    <td>$7.95</td>
                </tr>
                <tr>
                    <td>Steak + Cheese</td>
                    <td>$6.95</td>
                    <td>$8.50</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class = "picture"> 
        <div>
            <img src="{% static 'sub.jpg' %}"/>
            <figcaption> Steak and Cheese </figcaption>
        </div>
    </div>
</div>
{% endblock %}